html {
    height: 100%;
}

body {
    padding: 0;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.571em;
    letter-spacing: normal;
    color: #333333;
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
}


table {
    width: 100%;
}

th, thead {

    height: 40px;
    text-align: right;
    vertical-align: middle;
    background-color: #cf120f;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

tr:hover {
    background-color: #cacaca;
}

td {
    text-align: left;
    vertical-align: top;
    word-break: break-all;
    table-layout: fixed;
    max-width: 100px;
    min-width: 70px;

}

th, td, thead {
    padding: 10px;
}

input[type=text], input[type=password], input[type=email], textarea,
select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

textarea {
    resize: vertical;
    overflow: auto;
}

.button, input[type=file], input[type=reset], input[type=submit],
.upload {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #cf120f;
}

header {
    font: 2.5em museo300;
    line-height: 1em;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    /* horizontal-offset vertical-offset blur shadow-colour */
    background-image: url("header.jpg");
    background-size: auto;
    padding: 30px 10px 30px 10px; /* top right bottom left */
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.footer {
    bottom: 0px;
    width: 100%;
    position: fixed;
    font-size: 0.7em;
    text-align: center;
    background-color: #f6f6f6;
    border-top: 1px solid #919191;

}

.section {
    overflow-x: auto;
}

.uploadbutton{
    text-align: center;
    margin-top: 1%;
}
#uploadFile {
    text-align: center;
    padding: 10px 0;
    background: #f8f8f8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f8f8f8, #ffffff, #f8f8f8);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f8f8f8, #ffffff, #f8f8f8);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f8f8f8, #ffffff, #f8f8f8);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f8f8f8, #ffffff, #f8f8f8);
    background: #f8f8f8; /* Standard syntax */
}


.clickbar{
    margin-top: 1%;
    margin-left: 1%;
}
.first-column{
    margin-left: 1%;
    line-height: normal;
    font-size: small;
    clear: right;
    width: 15%;
    float: left;
}
.second-column{
    line-height: normal;
    font-size: small;
    clear: right;
    width:15%;
    float: left;
}
.third-colum{
    line-height: normal;
    font-size: small;
    clear: right;
    float: left;
    width:15%;

}
.graph{
    margin-top: 5%;
    padding-left: 1%;
    float: left;
    width:200px;
    font-size: small;

}
#div2{
    align-content: center;
    text-align: center;
}

