<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   
    <!-- Base package for checking the annoted classes -->
      <context:component-scan base-package="rmit.learningAnalytics"></context:component-scan>

      <!-- Configure JDBC Connection-->
      <bean id="dataSource"
            class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="com.postgresql.jdbc.Driver" />
            <property name="url" value="jdbc:postgresql://ec2-54-221-254-72.compute-1.amazonaws.com:5432/dtb2d40pikkr8" />
            <property name="username" value="znnuybwdzqhavc" />
            <property name="password" value="872a6885f75972f76e867e38ceb6a92a27bc81aedc795dbd2e5fa1317119166e" />
      </bean>

      <!-- Configure Hibernate 4 Session Facotry -->
      <bean id="sessionFactory"
            class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

			<property name="dataSource">
			  <ref bean="dataSource" />
			</property>

			<property name="hibernateProperties">
			  <props>
					<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
					<prop key="hibernate.show_sql">true</prop>
			  </props>
			</property>
			<property name="annotatedClasses">
			<list>
				  <value>rmit.learningAnalytics.model.User</value> <!-- Entity classes-->
			</list>
			</property>
      </bean>
      
</beans>